[submodule "score/fid_score"]
	path = score/fid_score
	url = https://github.com/mseitzer/pytorch-fid
[submodule "score/inception_score"]
	path = score/inception_score
	url = https://github.com/sbarratt/inception-score-pytorch
